body {
	padding:0;
  margin:0;
  overflow-y: hidden;
}

.user {
  width: 26%;
  margin-top: 10px;
  filter: sepia(100%);
}

@media (max-width: 750px) {
  .user {
    width: 40%;
    filter: sepia(100%);
  } 
  .fondo {
    margin-top: -52px;
  } 
}

@media (min-width: 768px) {
  .fixed-action-btn {
    left: 43em;
  }
}

.text {
	width: 35% !important;
}

#particles-js{
	width: 100%;
	height: 100%;
  position: fixed;
  /* z-index: -1; */
  }

.img {
  background-image: url(../img/luca-bravo-217276-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.presentacion {
  color: #fff;
  margin-top: 23vh;
}

.borde {   
  background-color: #777696 !important;
  margin: auto;
}

.fixed-action-btn {
  right: unset !important;
  padding-top: unset !important;
  margin-bottom: 0;
}

.colorBar {   
  background-color: #b39eb5;
  color: #fff;
}

#sobreMi {
  height: 100vh;
  overflow-y: scroll;
}

#habilidades {
  height: 100vh;
  overflow-y: scroll;
}

.icon {
  margin-top: 0.4em;
  font-size: 5em;
}

#proyecto {
  height: 100vh;
  overflow-y: scroll;
}

#contacto {
  height: 100vh;
}

.fondo {
  background-color: #a7948c47 !important;
}

.atras {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #777696 !important;
}

.user2 {
  width: 52%;
  border: 2px solid;
  filter: sepia(100%);
}

.color {
  color: #000!important;
  font-weight: 400!important;
  background-color: #0000003b;
  width: 100%;
}

.colorBtn {
  background-color: #66b2b2!important;
}

.h5 {
  padding-top: 30px;
}

.card-content {
  height: 19vh;
}